.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.title {
  font-size: 48px;
  margin-inline-end: 0.5rem;
}
