.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.adContainer {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.adSpacer {
  height: 668px;
}

.ad {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 600px;
}

.metaData {
  max-width: 1280px;
  background-color: #1f1f1e;
  height: 1000px;
  margin: 0 auto;
  z-index: 20;
  position: relative;
  display: flex;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 40px;
}
