.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.background,
.warmind,
.smoke,
.bray,
.front,
.destiny,
.warmindText,
.warmindLogo {
  position: absolute;
  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: calc(50% + 380px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.warmind {
  position: absolute;
  top: calc(50% + 472px);
  left: calc(50% - 5px);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.smoke {
  position: absolute;
  top: calc(50% + 530px);
  left: calc(50% - 300px);
  transform: translate(-50%, -50%);
  z-index: 6;
}

.bray {
  position: absolute;
  top: 0;
  left: calc(50% - 245px);
  transform: translateX(-50%);
  z-index: 3;
}

.front {
  position: absolute;
  top: calc(50% + 550px);
  left: calc(50% - 730px);
  transform: translate(-50%, -50%);
  z-index: 8;
}

.destiny {
  top: calc(50% + 180px);
  left: calc(50% - 330px);
  z-index: 4;
}

.destiny img {
  width: 650px;
}

.warmindText {
  top: calc(50% + 426px);
  left: calc(50% - 130px);
  z-index: 6;
}

.warmindText img {
  width: 250px;
}

.warmindLogo {
  top: calc(50% + 510px);
  left: calc(50% - 20px);
  z-index: 6;
}

.warmindLogo img {
  width: 40px;
}
